# --- Yarn (Berry) / Node ---
node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
# (garde .yarn/releases et .yarn/plugins si tu les utilises)

# --- Environnements ---
.env
.env.*
!.env.example

# --- Caches / Bundlers / Metro ---
.cache/
.metro/
**/.cache/
.expo/
.eslintcache
*.tsbuildinfo

# --- Monorepo packages (builds courants) ---
**/build/
**/dist/
**/out/
**/tmp/
**/.turbo/
**/.nx/

# --- iOS (global) ---
**/ios/Pods/
!**/ios/Podfile.lock
**/ios/build/
**/ios/DerivedData/
**/ios/*.xcworkspace/xcuserdata/
**/ios/*.xcodeproj/xcuserdata/
**/*.xcuserstate
**/*.xcuserdatad
**/*.xcscmblueprint

# --- Android (global) ---
**/android/.gradle/
**/android/.cxx/
/local.propertie
**/android/local.properties
**/android/captures/
**/android/*.iml
**/android/.idea/
**/android/build/
**/android/app/build/
**/android/app/debug.keystore
**/android/app/*.keystore
**/android/app/*.jks
*.apk
*.aab

# --- Tests / rapports ---
coverage/
**/coverage/
reports/
**/reports/

# --- Fastlane ---
**/fastlane/report.xml
**/fastlane/screenshots/
**/fastlane/test_output/

# --- Éditeurs / OS ---
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.swp
*.orig
.watchman*

# --- Divers / RN ---
**/.gradle/
**/.DS_Store
/.kotlin
/**/**/bin/
